
%container {
  @include grid-row();
  @include margin($neat-unit $neat-unit*2 0 $neat-unit*2);

  @include grid-media($neat-grid-desktop) {
    max-width: $neat-unit*60;
  }

  & > * {
    @include grid-col(12, 10, 12);
  }

  h3 {
    margin-top: $neat-unit*2;
    margin-bottom: 0;
  }

  li {
    margin-bottom: $neat-unit/2;
  }
}
