@import '~themes';

.scientistForm {
  & > * {
    margin-top: $space-unit;
  }
}

.textInput {
  label {
    margin-bottom: 0 !important;
  }
  input {
    height: auto;
  }
}

.radioGroup {
  @extend %columns;

  & > * {
    @extend %column;
    @extend %isOneQuarter;
  }
}

.button {
  @extend %column;
  @extend %isOneQuarter;

  @include mobile {
    width: 100%;
  };
}
