
$neat-grid-default: (
  columns: $neat-columns,
  gutter: 0,
);
$neat-grid-mobile: (
  columns: $neat-columns,
  gutter: 0,
);
$neat-grid-tablet: (
  columns: $neat-columns,
  gutter: $neat-unit*2,
  media: $neat-tablet-min-width,
);
$neat-grid-desktop: (
  columns: $neat-columns,
  gutter: $neat-unit*2,
  media: $neat-desktop-min-width,
);

@mixin grid-row() {
  @include grid-container;
}

@mixin grid-col($desktop, $tablet, $mobile) {
  @if(type-of($mobile) == number) {
    @include grid-column($mobile, $neat-grid-mobile);
  }

  @if(type-of($tablet) == number) {
    @include grid-media($neat-grid-tablet){
      @include grid-column($tablet, $neat-grid-tablet);
    }
  }

  @if(type-of($desktop) == number) {
    @include grid-media($neat-grid-desktop){
      @include grid-column($desktop, $neat-grid-desktop);
    }
  }
}
