@import '~themes';

.navbar {
  border-bottom: 1px solid #e0e0e0;

  &Link {
    border-radius: 0;
    cursor: pointer;
    user-select: none;
    width: $neat-mobile-min-width/2;
    height: $neat-unit*4;
  }
}
